In [20]:
import numpy as np
import pandas as pd

In [107]:
# 1. How-to-count-distance-to-the-previous-zero
# Output: Y: [1,1,0,1,2,3,4,0,1,2]
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
arrX = df['X'].values
arrY = []
first0 =  np.array(arrX).tolist().index(0)
for i in range(first0+1):
    if(arrX[i] == 0):
        arrY.append(0)
        length = len(np.where(arrX == 0)[0])
        ind0 = np.where(arrX == 0)[0]
        for n in range(length):
            for j in range(ind0[n]+1, len(arrX)):
                if(arrX[j] == 0):
                    arrY.append(0)
                    break
                else:
                    arrY.append(j-ind0[n])
          
    else:
        arrY.append(1)
print(arrY)

[1, 1, 0, 1, 2, 3, 4, 0, 1, 2]

In [14]:
# 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
randSeries =  np.random.randint(100, 1000, 261)

In [15]:
randSeries

array([391, 533, 394, 332, 823, 129, 164, 300, 935, 993, 200, 717, 681,
       377, 432, 571, 750, 474, 982, 236, 446, 745, 787, 436, 568, 119,
       876, 851, 585, 956, 504, 540, 483, 467, 663, 683, 332, 534, 663,
       825, 997, 503, 518, 804, 311, 861, 444, 268, 838, 146, 645, 583,
       141, 868, 939, 161, 292, 268, 970, 654, 291, 713, 454, 718, 616,
       387, 743, 104, 294, 433, 618, 683, 904, 364, 508, 567, 107, 957,
       949, 140, 159, 157, 516, 609, 605, 653, 117, 697, 528, 837, 109,
       535, 687, 382, 830, 861, 707, 931, 720, 692, 945, 209, 957, 712,
       225, 299, 953, 585, 264, 114, 938, 442, 940, 254, 870, 298, 768,
       801, 563, 687, 281, 548, 314, 550, 384, 381, 749, 177, 211, 184,
       228, 991, 683, 513, 483, 923, 538, 961, 429, 753, 338, 460, 636,
       913, 699, 878, 494, 394, 431, 860, 395, 558, 530, 310, 698, 387,
       181, 761, 742, 959, 929, 472, 919, 239, 961, 943, 131, 222, 664,
       338, 255, 490, 232, 343, 822, 101, 368, 954, 117, 843, 201, 501,
       125, 241, 458, 646, 231, 203, 361, 971, 374, 887, 216, 611, 412,
       132, 808, 708, 887, 183, 913, 887, 311, 693, 842, 727, 347, 917,
       735, 331, 722, 960, 442, 246, 384, 954, 105, 626, 871, 599, 748,
       191, 755, 665, 491, 504, 310, 262, 552, 663, 950, 120, 898, 112,
       802, 648, 643, 430, 268, 159, 368, 668, 678, 412, 533, 416, 621,
       264, 999, 317, 572, 162, 389, 185, 236, 539, 863, 642, 829, 746, 368])

In [16]:
bussinessDays = pd.bdate_range('2015-01-01', '2015-12-31')

In [17]:
bussinessDays

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [41]:
Df = pd.DataFrame(data= randSeries, index= bussinessDays)

In [42]:
Df.headad(6)

              0
2015-01-01  391
2015-01-02  533
2015-01-05  394
2015-01-06  332
2015-01-07  823
2015-01-08  129

In [44]:
# 3. Find the sum of the values in s for every Wednesday
Sum = 0
for singleDate in bussinessDays:
    if(singleDate.dayofweek == 2):
        Sum = Sum + Df.loc[singleDate.to_pydatetime()]
print('Sum of the values on the random Series for every Wednesday---------------\n',Sum)

Sum of the values on the random Series for every Wednesday---------------
 0    30214
dtype: int32

In [45]:
# 4. Average For each calendar month
dict1 = {1:'January',2: 'February', 3:'March', 4:'April', 5:'May', 6: 'June', 7: 'July', 8:'August', 9:'September',
       10:'October', 11: 'November', 12:'December'}
for i in range(1,13):
    count = 0
    Sum = 0
    for singleDate in bussinessDays:
        if(singleDate.month == i):
            count = count + 1
            Sum = Sum + Df.loc[singleDate.to_pydatetime()]
    Avg = Sum/count
    print('Average for the month',dict1[i], Avg[0])

Average for the month January 527.5
Average for the month February 618.6
Average for the month March 540.318181818
Average for the month April 503.318181818
Average for the month May 615.857142857
Average for the month June 505.409090909
Average for the month July 597.47826087
Average for the month August 541.095238095
Average for the month September 453.909090909
Average for the month October 601.545454545
Average for the month November 563.80952381
Average for the month December 488.434782609

In [48]:
# 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
arr = [1,5,9]
for j in range(len(arr)):
    highest = 0
    for i in range(arr[j],arr[j]+4):
        for singleDate in bussinessDays:
            if(singleDate.month == i):
                    if(Df.loc[singleDate.to_pydatetime()] > highest).bool():
                        highest = Df.loc[singleDate.to_pydatetime()]
                    else:
                        highest = highest
    print('Date on which the highest value occured for quarter', j+1,' is :' , highest.name,' & the value is :',highest.values[0])

Date on which the highest value occured for quarter 1  is : 2015-02-26 00:00:00  & the value is : 997
Date on which the highest value occured for quarter 2  is : 2015-07-03 00:00:00  & the value is : 991
Date on which the highest value occured for quarter 3  is : 2015-12-15 00:00:00  & the value is : 999